<br><br>
<table style="width:80%">
<body>
  <br><br>
	<h1 align=center>MODULO DE ADMISION</h1>
  <td>
    <br>
  <p>Especialidad: <select name="transporte">
      <option>Dermatologia</option>  
      <option>Medicina</option>  
      <option>Psicologia</option>  
      </select></p>
  <br>
  <p>Medico: <select name="transporte">
      <option>Jose Hurtado</option>   
      <option>Roberto Huamani</option>   
      <option>Celia Ponce</option>  
      </select></p>
  <br>
  <p>Nombres y apellidos: <input type="text" name="nombre" size="40"></p>
    
  <p>DNI: <input type="text" name="nombre" size="8"></p>
  </td>
  <p>
      <button class="button button1" (click)="clickbuscar()" > CANCELAR</button>
      <button class="button button1" (click)="clickbuscar()" > GUARDAR</button>
  </p>
</body>
</table>
